# If-statements

In [2]:
age = int(input("Enter tour age"))
age_limit = 15

if age < age_limit:
    print("Sorry, you are to young to attend this scary movie")
    print("Watch cartoons instead")
else:
    print("Enjoy this scary movie")

Sorry, you are to young to attend this scary movie
Watch cartoons instead

In [5]:
age = 15
height = 150

if age > 11 and 130 < height < 210:
    print("Welcome to the roller coaster")
else:
    print("Come back when you fulfill the requirements")

Welcome to the roller coaster

In [4]:
age = 15
height = 130

if age > 11 and 130 <= height < 210:
    print("Welcome to the roller coaster")
else:
    print("Come back when you fulfill the requirements")

Welcome to the roller coaster

## modulo operator

In [6]:
5%2, 4%2

(1, 0)

In [8]:
number = 5

if number % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Odd number

In [9]:
number = 50

if number % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Even number

## Truthy and falsy values

In [ ]:
number = 50
#Fråga hur 'not' gör detta rätt
if not number % 2:
    print("Even number")
else:
    print("Odd number")

In [ ]:
number = 5

if number % 2 == 0:
    print("Odd number")
else:
    print("Even number")
    #fråga truthy and falsy value

In [10]:
if []:
    print("Truthy")
else: 
    print("falsy")

falsy

In [11]:
if [3]:
    print("Truthy")
else: 
    print("falsy")

Truthy

In [12]:
if [0]:
    print("Truthy")
else: 
    print("falsy")

Truthy

## if-elif-else statements

In [17]:
weight = 25

if weight < 20:
    print("Give patient 500mg")
elif weight < 40:
    print("Give patient 750mg")
else: 
    print("Give patient 1000mg")

Give patient 750mg

## nested if statements

In [ ]:
number = 25
if number % 5 == 0:
    print(f"{number} is divisible by 5")
    if number % 2 == 0:
        print(f"{number} is even")
    else:
        print(f"{number} is odd")

30 is divisible by 5
30 is even

In [21]:
number = 26
if number % 5 == 0:
    print(f"{number} is divisible by 5")
    if number % 2 == 0:
        print(f"{number} is even")
    else:
        print(f"{number} is odd")

## one line if statement

In [26]:
name = "Olivia"
gender = "female"
age = 7

#one line if
if "o" in name.lower(): print(f"{name} contains the letter 'o'")

Olivia contains the letter 'o'

In [ ]:
name = "Olivia"
gender = "female"
age = 7

if "o" in name.lower(): 
    print(f"{name} contains the letter 'o'")

In [ ]:
# one line if-else
print(f"Hi mr {name}") if gender == "male" else print(f"Hi ms {name}")

Hi ms Olivia

In [28]:
age = 5
# one line if-else variable assignment
is_child = True if age< 18 else False
is_child

True

# While statements