# Strings

In [7]:
firstname = "Kokchun"
lastname = "Giang"

fullname = firstname + " " + lastname
fullname

'Kokchun Giang'

In [8]:
work = "AIgineer AB"
address = "Supah cool streeeto"
phone = "070"

contact_details = f"""
name: {fullname}
work: {work}
address: {address}
phone: {phone}
"""

In [9]:
contact_details

'\nname: Kokchun Giang\nwork: AIgineer AB\naddress: Supah cool streeeto\nphone: 070\n'

In [11]:
print(contact_details)

name: Kokchun Giang
work: AIgineer AB
address: Supah cool streeeto
phone: 070

In [16]:
menu = ["chili con caren", "Noodles", "Pokebowl", "Pancake", "Taco"]
days = ["mo", "tu", "wed", "thu", "fri"]

weekly_menu = "Weekly menu\n"

for day, food in zip(days, menu):
    weekly_menu += f"{day:<10} {food}\n"

print(weekly_menu)

Weekly menu
mo         chili con caren
tu         Noodles
wed        Pokebowl
thu        Pancake
fri        Taco

In [17]:
quote ="!False - it's funny because it's True"
quote

"!False - it's funny because it's True"

In [18]:
quote[0]

'!'

In [19]:
quote[-1]

'e'

In [20]:
quote[:6]

'!False'

In [22]:
quote[::-1]

"eurT s'ti esuaceb ynnuf s'ti - eslaF!"

In [24]:
string_to_check = "anna"
string_to_check[::-1] == string_to_check

True

## Split and cleaning a string

In [25]:
subjects= "Math, biology  ,     cHeMistry ,  PrOgramming"
subjects

'Math, biology  ,     cHeMistry ,  PrOgramming'

In [ ]:
subjects = subjects.split(",")
subjects
#Nu har vi skapat olika element i en lista

['Math', ' biology  ', '     cHeMistry ', '  PrOgramming']

In [ ]:
subjects = [subject.strip().upper() for subject in subjects]
# Tar bort massa utrumme/mellanrum 
# .lower för små bokstäver, .upper för stora bokstäver

for subject in subjects:
    print(f"{subject} has {len(subject)} characters")
    #len() räknarhur många karaktärer som finns(bokstäver, punkt, mellanrum...)

MATH has 4 characters
BIOLOGY has 7 characters
CHEMISTRY has 9 characters
PROGRAMMING has 11 characters

## Regex

In [ ]:
import re

text = "Det var en gång en katt somtog på sig en hatt."
match_list = re.findall(r".att", text)
match_list
#Hittar ord som matchar. Finns olika karaktärer för olika matchningar, kolla w3schools eller LLM

['katt', 'hatt']

In [43]:
personal_numbers = "Ida: 19950516-2235, Bertil: 19581212-3213, Ada: 050524-1513"
match_long = re.findall(r"\d{8}-\d{4}", personal_numbers)
match_long

['19950516-2235', '19581212-3213']

In [44]:
match_short = re.findall(r"\d{6}-\d{4}", personal_numbers)
match_short

['950516-2235', '581212-3213', '050524-1513']